* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    transition: all 1s ease;
  }
  
:root {
    --body-bg: hsl(230, 17%, 14%);
    --text-color: hsl(0, 0%, 100%);
    --card-bg:hsl(232, 19%, 15%);
    --card-hover:hsl(228, 28%, 20%);

    --instagram: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.darkMode:root {
    --body-bg: hsl(0, 0%, 100%);
    --text-color:hsl(230, 17%, 14%);
    --card-bg:hsl(228, 29%, 87%);
    --card-hover:hsl(229, 22%, 90%);
}

.main {
    background: var(--body-bg);
    margin-right: 4rem;
    margin-left: 4rem;
    height: 100vh;
    overflow-x: hidden;
}

.Cabecalho {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.cabecalho-info {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.dashBoard { 
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color);
}

.count-followers {
    color: rgb(97 106 139);
}

/* Parte de toggle de mode dark and light */
.switch {
    display: flex;
    align-items: center;
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
}

.mode-section {
    display: flex;
    align-items: center;
}

.mode {
    margin-right: 10px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
}
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: hsl(230, 17%, 14%);
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider::after {
    background-color: white;
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* fim estilização button */


/* grid das informações */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

.grid-card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;

    &:hover{
        background-color: var(--card-hover);
    }
}

.grid-second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.grid-card-info {
    display: flex;
        flex-direction: column;
        background-color: var(--card-bg);
        color: var(--text-color);
        padding: 2rem;
        text-align: center;
        &:hover{
            background-color: var(--card-hover);
        }
}


.nick-login {
    justify-content: center;
    display: flex;
    align-items: center;
}

.nick-login img {
    margin-right: 5px;
}

.count-card {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 40px;
}

.follow-card {
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

/* sessão 2 dos cards */


.info-overwiew {
    display: flex;
    justify-content: space-between;
}

.grid-card-numbers {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* margin top das cards */

.grid-card:first-child {
    border-top: 7px solid #2d86ff;
}
.grid-card:nth-child(2) {
    border-top:7px solid hsl(204.17deg 90.35% 55.29%);
}
.grid-card:nth-child(3) {
    border-top: 7px solid #c471ed;
}
.grid-card:nth-child(4) {
    border-top: 7px solid hsl(0deg 99.21% 50.2%);
}

/* Sessão responsiva */

@media (max-width:956px) {
    .grid {
    grid-template-columns: repeat(2, 1fr);
}

    .grid-second {
    grid-template-columns: repeat(2,1fr);
}
    .grid-card-numbers {
    flex-direction: column;
}
}

